
<p>Arelefavela </p>
<!-- <div class="container">
  <button class="btn btn-success">Bootstrap Demo</button>
  </div> -->
 
<div class="container">
    <div class="row display">
        <div id="display" class="col-12"><p> {{ display }} </p></div>
        <div class="row">
          <div id="result" class="col-12"><p> {{ result }} </p></div>
      </div>
    </div>
    
    <div class="buttons">
      <div class="row">
        <div class="col-6"><button id="longBtn" class="button grayBtn" (click)="allClear();">AC</button></div>
        <div class="col-3"><button class="button grayBtn" (click)="islem('%')">%</button></div>
        <div class="col-3"><button class="button operations"  (click)="islem('÷')">÷</button></div>
      </div>
      <div class="row">
        <div class="col-3"><button class="button" (click)="ekleme('1')">1</button></div>
        <div class="col-3"><button class="button" (click)="ekleme('2')">2</button></div>
        <div class="col-3"><button class="button" (click)="ekleme('3')">3</button></div>
        <div class="col-3"><button class="button operations" (click)="islem('x')" >x</button></div>
      </div>
      <div class="row">
        <div class="col-3"><button class="button" (click)="ekleme('4')">4</button></div>
        <div class="col-3"><button class="button" (click)="ekleme('5')">5</button></div>
        <div class="col-3"><button class="button" (click)="ekleme('6')">6</button></div>
        <div class="col-3"><button class="button operations" (click)="islem('+')">+</button></div>
      </div>
      <div class="row">
        <div class="col-3"><button class="button" (click)="ekleme('7')">7</button></div>
        <div class="col-3"><button class="button" (click)="ekleme('8')">8</button></div>
        <div class="col-3"><button class="button" (click)="ekleme('9')">9</button></div>
        <div class="col-3"><button class="button operations" (click)="islem('-')">-</button></div>
      </div>
      <div class="row">
        <div class="col-6"><button id="longBtn" class="button" (click)="ekleme('0')">0</button></div>
        <div class="col-3"><button class="button" (click)="ekleme('.')">.</button></div>
        <div class="col-3"><button class="button operations" (click)="answer()">=</button></div>
      </div>
    </div>
    
    
</div>

<router-outlet></router-outlet>
